<div
    *ngFor="let child of actualChildren" [classList]="'obj-type-list-block'"
>

    <div>
        <div [classList]="'border deny-select obj-type-list-header'">
            <i [classList]="'fa fa-plus cursor-pointer'"
               id="icon_of_{{child.id}}"
               (click)="openChildren(child.id)"
               style="padding: 2px"
            ></i>
            <p
                [classList]="'cursor-pointer'"
                (click)="emitObjectTypeId(child.id)"
                style="margin: 0"
            >
                {{child.name}}
            </p>

        </div>
    </div>

    <app-child-object-type
        class="display-none"
        parentId="{{child.id}}"
        id="children_of_{{child.id}}"
        (currentObjectTypeId)="this.emitObjectTypeId($event)"
    ></app-child-object-type>
</div>

