<div *ngIf="attributes.length == 0 && objectTypeId == 'null;'">
    Choose object type to open attributes
</div>

<div *ngIf="attributes.length == 0 && objectTypeId != 'null;'">
    <h1>{{objectTypeName}}</h1>
    There are no attributes<br/>
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
        <i class="fa fa-database" style="margin-right: 1px"></i>
        <i class="fa fa-plus"></i>Create new attribute
    </button>
</div>

<div *ngIf="attributes.length > 0">
    <h1>{{objectTypeName}}</h1>
    <table *ngIf="attributes.length > 0" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Attribute name</th>
            <th>Attribute type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attribute of attributes">
            <td><span>
                {{attribute.name}}
            </span></td>
            <td><span>
                {{attributeTypeById(attribute.attributeTypeId)}}
            </span></td>
            <td>
                <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, attribute)">
                    <i class="fa fa-edit"></i>Edit
                </button>
                <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, attribute)">
                    <i class="fa fa-remove"></i>Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
        <i class="fa fa-database" style="margin-right: 1px"></i>
        <i class="fa fa-plus"></i>Create new attribute
    </button>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New attribute</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

            <div class="form-group">
                <label for="name">Name*</label>
                <div class="input-group">
                    <input id="name" name="name" class="form-control" ngModel>
                </div>
            </div>

            <div class="form-group">
                <label for="attributeTypeId">Attribute type*</label>
                <div class="input-group">
                    <input
                        id="attributeTypeId"
                        name="attributeTypeId"
                        class="form-control"
                        placeholder="text / link"
                        ngModel
                    >
                </div>
            </div>

            <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info">Create attribute</button>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>

</ng-template>

<ng-template #contentEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title__">Edit attribute</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" novalidate>

            <div class="form-group" [classList]="'display-none'">
                <label>ID</label>
                <div class="input-group">
                    <input formControlName="id" class="form-control" [readOnly]="true">
                </div>
            </div>

            <div class="form-group">
                <label>Name</label>
                <div class="input-group">
                    <input formControlName="name" class="form-control">
                </div>
            </div>

            <div class="form-group" [classList]="'display-none'">
                <label>Attribute type ID</label>
                <div class="input-group">
                    <input formControlName="attributeTypeId" class="form-control" [readOnly]="true">
                </div>
            </div>

            <div class="form-group" [classList]="'display-none'">
                <label>Object type ID</label>
                <div class="input-group">
                    <input formControlName="objectTypeId" class="form-control" [readOnly]="true">
                </div>
            </div>

            <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Save changes</button>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h2>Are you sure you want to delete this attribute?</h2>
        <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

