/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.container {
    margin-top: 5%;
}

.border {
    padding: 10px;
}

.btn {
    margin-right: 10px;
}

.fa {
    margin-right: 10px;
}

table .btn {
    margin: 2px;
}

.ml-20 {
    margin-left: 30px;
}

.display-none {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.deny-select {
    user-select: none;
}

.deny-select::selection {
    background: transparent;
}

.deny-select::-moz-selection {
    background: transparent;
}

#object_types_list {
    font-size: 24px;
    overflow-x: auto;
    padding: 15px 0;
}

.obj-type-list-header {
    padding: 2px 6px;
    width: fit-content;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.obj-type-list-header p:hover {
    color: blue;
}

.obj-type-list-block {
    width: fit-content;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 2px 2px 2px 30px;
}

.obj-type-comp-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-around;
}

.attributes-table-comp {
    width: 60%;
}

.icon-obj-type-header {
    cursor: pointer;
    margin-left: 5px;
    font-size: 20px;
}

.icon-obj-type-header:hover {
    color: blue;
}

.obj-type-list-with-but {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0;
}
