<div class="container">
  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-database" style="margin-right: 1px"></i>
      <i class="fa fa-plus"></i>Create new object
    </button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Object type ID</th>
      <th>Parent object ID</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let object of objects">
      <td><span>
          {{object.id}}
      </span></td>
      <td><span>
          {{object.name}}
      </span></td>
      <td><span>
          {{object.objectTypeId}}
      </span></td>
      <td><span>
          {{object.parentObjectId == null ? '—' : object.parentObjectId}}
      </span></td>
      <td>
        <button class="btn btn-sm btn-info">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New object</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

      <div class="form-group">
        <label for="name">Name*</label>
        <div class="input-group">
          <input id="name" name="name" class="form-control" ngModel>
        </div>
      </div>

      <div class="form-group">
        <label for="objectTypeId">Object type ID*</label>
        <div class="input-group">
          <input id="objectTypeId" name="objectTypeId" class="form-control" ngModel>
        </div>
      </div>

      <div class="form-group">
        <label for="parentObjectId">Parent object ID</label>
        <div class="input-group">
          <input id="parentObjectId" name="parentObjectId" class="form-control" ngModel>
        </div>
      </div>

      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>

</ng-template>
